include ChangeLog CODE_OF_CONDUCT.md CONTRIBUTING.rst CREDITS LICENSE README.rst
include requirements*.txt
include Makefile tox.ini .flake8

graft src

graft dev/mypy
graft docs
graft tests

global-exclude *.py[cod] __pycache__ .*.sw[po]
prune .github
prune docs/_build
